<div class="top_search">
    <form method="get" action="/busca/">
        <div class="search_text">
            <a href="#">Buscar Produto</a>
        </div>
        <input class="search_input" type="text" name="b"/>
        <button type="submit" class="btn" style="margin-top: 8px;margin-left: 2px;">Buscar</button>
    </form>
</div><!-- end top_search -->

<div class="header">
    <div id="logo">
        <a href="#">
            <img src="{{ site_url() }}/assets/images/logo.png" alt="" border="0" width="237" height="140" />
        </a>
    </div><!-- end div logo -->

    <div class="oferte_content">
        <div class="top_divider">
            <img src="{{ site_url() }}/assets/images/header_divider.png" alt="" width="1" height="164" />
        </div>
        <div class="oferta">
            <div class="oferta_content">
                <div class="oferta_details">
                    Propaganda aqui
                </div>
            </div>
        </div><!-- end div oferta -->
        <div class="top_divider">
            <img src="{{ site_url() }}/assets/images/header_divider.png" alt="" width="1" height="164" />
        </div>
    </div><!-- end div oferte content -->
</div><!-- end div header -->