<!-- area para o top search -->
<div class="top_search">
    <form method="get" action="/busca/">
        <div class="search_text">
            <a href="#">Buscar Produto</a>
        </div>
        <input type="text" class="search_input" name="b" />
        <input type="image" src="{{ site_url() }}/assets/images/search.gif" class="search_bt"/>
        <!--
        <button type="submit" class="btn" style="margin-top:8px;margin-left:2px;">Buscar</button>
        -->
    </form>
</div><!-- end of top search -->

<!-- area para languages (eu coloquei) -->
<div class="languages">
    <div class="lang_text">Languages:</div>
    <a href="#" class="lang">
        <img src="{{ site_url() }}/assets/images/en.gif" alt="" border="0" />
    </a>
    <a href="#" class="lang">
        <img src="{{ site_url() }}/assets/images/de.gif" alt="" border="0" />
    </a>
</div><!-- end languages -->