<div class="shopping_cart">
    <div class="cart_title">Carrinho de Compras</div>
    <div class="cart_details"> 3 itens <br />
        <!-- <span id="products_cart"></span><br/> -->
        <span class="border_cart"></span><!-- numero de produtos no carrinho -->
        Total: <span class="price"> R$ 350,00 </span>
    </div>

    <div class="cart_icon">
        <a href="#" title="header=[Checkout] body=[&nbsp] fade=[on]">
            <img src="{{ site_url() }}/assets/images/shoppingcart.png" alt="" width="48"height="48" border="0" />
        </a>
        <!-- icone do carrinho -->
    </div>
</div>

<div class="title_box">Novidades</div>
<div class="border_box">
    <div class="product_title">
        <!-- titulo do produto novidade -->
        {{ novidade().produto_nome }}
    </div>
    <div class="product_image">
        <!-- imagem do produto que é novidade -->
        <a href="/detalhes/{{ novidade().produto_slug }}">
            <img src="{{ site_url() }}/{{ novidade().produto_foto }}" alt="" width="90" height="90" border="0"/>
        </a>
    </div>
    <div class="prod_price">
        <div class="price"><!-- preço do produto que é novidade --></div>
        {% if(novidade().produto_promocao) == 1 %}
        <span class="reduce">
            R$ {{ novidade().produto_valor | number_format(2,',','.') }} <br/>
        </span>
        R$ {{ novidade().produto_valor_promocao | number_format(2,',','.') }}
        {% else %}
        R$ {{ novidade().produto_valor | number_format(2,',','.') }}

        {% endif %}
    </div>
</div><!-- end border box -->

<div class="title_box">Marcas</div>
<!-- include das marcas -->
<div class="banner_adds">
    <!-- banner de promoção, propaganda -->
</div>
<div class="banner_adds">
    <a href="#">
        <img src="{{ site_url() }}/assets/images/bann1.jpg" alt="" border="0" />
    </a>
</div>