<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/table.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/button.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/form.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site_url() }}/assets/css/style.css" />
    <script type="text/javascript" src="{{ site_url() }}/assets/js/boxOver.js"></script>

</head>
<body>
	<div id="main_container">
		<div class="top_bar">
			<!-- include do top search -->
			{% include 'includes/site_top_search.html' %}
		</div><!-- end top bar -->
		
		<!-- área do header -->
		<div id="header">
			<!-- include do header -->
			{% include 'includes/site_header.html' %}
		</div>
		
		<div id="main_content">
			<div id="menu_tab">
				<!-- include do menu -->
				{% include 'includes/site_menu.html' %}
			</div>
			
			<div class="crumb_navigation"><!-- breadcrumb --></div>
			<!-- Área para o left content -->
			<div class="left_content">
				<div class="title_box">Categorias</div>
				
				<ul class="left_menu">
					<!-- include do left-menu -->
					{% include 'includes/site_left_menu.html' %}
				</ul>
				
				<div class="title_box">Promoção</div>
				<div class="border_box">
					<div class="product_title"><!-- nome do produto em promoção --></div>
					<div class="product_image"><!-- imagem do produto em promoção --></div>
					<div class="prod_price"><!-- preco do produto  --></div>
				</div>
				
				<div class="title_box">Newsletter</div>
				
				<div class="border_box">
					<input class="newsletter" type="text" name="newsletter" value="Seu Email"/>
					<a class="join" href="">Cadastrar Email</a>
				</div>
				
				<div class="banner_adds">
					<a href="">
						<img src="{{ site_url() }}/assets/images/bann2.jpg" alt="" border="0"/>
					</a>
				</div>
			
			</div><!-- end left-content -->
			
			<div class="center_content">
				{% block site_content %}{% endblock %}
			</div><!-- end center content -->
			
			<div class="right_content">
				<!-- total de compras do carrinho -->
				{% include 'includes/site_right_menu.html' %}
			</div><!-- end right content -->
			
			<div class="footer">
				<div class="left_footer">
					<!-- imagem footer -->
					<img src="{{ site_url() }}/assets/images/footer_logo.png" alt="" width="170" height="49" />
				</div>
				
				<div class="center_footer">
					Loja asolucoesweb.Todos direitos reservados {{ 'now' | date('d/m/Y') }} <br/>
					<img src="{{ site_url() }}/assets/images/payment.gif" alt="" />
				</div>
				
				<div class="right_footer">
					<a href="#">home</a>
					<a href="#">about</a>
					<a href="#">sitemap</a>
					<a href="#">rss</a>
					<a href="contact.html">contact us</a>
				</div>
			</div><!-- end footer -->
		
		</div><!-- end main content -->
	
	</div><!-- end main_container -->

    <script type="text/javascript" src="{{ site_url() }}/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="{{ site_url() }}/assets/js/site/carrinho.js"></script>

</body>
</html>